* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Heebo-Regular";
  overflow-x: hidden;
}

html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}

legend {
  color: #000;
}

.main-carousel {
  margin: 3vw 3vw 5vw 4vw;
}

.carousel-cell {
  width: 100%;
  height: 35vw;
  min-height: 250px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}
.carousel-cell img {
  width: 93vw;
}
.carousel-cell iframe {
  width: 93vw;
  height: 35vw;
}

.hero__container {
  margin: 4vw 0 0 0;
  width: 100vw;
  display: inline-flex;
  justify-content: space-evenly;
}

.hero__heading {
  display: flex;
  justify-content: center;
  font-family: GargleBold;
  color: #dd7360;
  font-size: clamp(14px, 3vw, 53px);
  white-space: nowrap;
}

.hero__subheading {
  display: flex;
  justify-content: center;
  font-family: Gargle;
  color: #dd7360;
  font-size: clamp(10px, 2vw, 40px);
  margin-bottom: 3vw;
}

.hero__nick img {
  width: 25vw;
}

.hero__liam img {
  width: 18vw;
}

.hero__oscar img {
  width: 19.5vw;
}

.hero__tane img {
  width: 26.5vw;
}

.description__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.desc-left {
  flex-direction: row;
}

.desc-right {
  flex-direction: row-reverse;
}

.description__container {
  margin: 4vw 0 4vw 0;
}

.description {
  width: 95vw;
  height: 23vw;
  margin: 0.75vw 0;
  border-radius: 5vw;
}

.description img {
  height: 23vw;
  width: 23vw;
  border-radius: 5vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.desc__text__container {
  display: flex;
  flex-direction: column;
  padding: 2.5vw;
}

.desc__heading {
  font-family: GargleBold;
  color: #dd7360;
  font-size: clamp(14px, 3vw, 53px);
  white-space: nowrap;
  margin-bottom: 1.5vw;
}

.desc__subheading {
  font-family: Gargle;
  color: #dd7360;
  font-size: clamp(10px, 2.15vw, 40px);
}

.gradient-left {
  background: rgb(244, 245, 245);
  background: linear-gradient(90deg, rgb(244, 245, 245) 0%, rgba(244, 245, 245, 0.8540018373) 70%, rgba(0, 217, 255, 0) 100%);
}

.gradient-right {
  background: rgb(244, 245, 245);
  background: linear-gradient(270deg, rgb(244, 245, 245) 0%, rgba(244, 245, 245, 0.8540018373) 70%, rgba(0, 217, 255, 0) 100%);
}

.about-page {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  width: 90vw;
  border-radius: 2vw;
  padding: 2vw;
  margin: 2vw;
}
.about-container > img {
  width: 50vw;
}

.about-title {
  display: flex;
  justify-content: center;
  font-family: GargleBold;
  color: #dd7360;
  font-size: clamp(14px, 3vw, 53px);
  white-space: nowrap;
  text-decoration: none;
}

.about-desc {
  font-size: clamp(14px, 1.9vw, 70px);
  padding: 1vw 0 2vw 0;
}

.music__page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song__container {
  width: 85vw;
  background-color: #f2f2f2;
  padding: 2vw;
  margin: 2vw;
  border-radius: 2.5vw;
}

.song__title a {
  font-family: GargleBold;
  color: #dd7360;
  font-size: clamp(14px, 3vw, 53px);
  white-space: nowrap;
  text-decoration: none;
}

.song__lyrics {
  font-size: clamp(14px, 1.45vw, 70px);
}

.contact-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  width: 70vw;
  min-width: 375px;
  border-radius: 2.5vw;
  padding: 2vw;
  margin: 4vw;
  font-size: clamp(14px, 2vw, 53px);
}
.contact > h1 {
  font-family: GargleBold;
  font-size: clamp(14px, 5vw, 53px);
  color: #dd7360;
  padding: 1vw;
}

.form-group {
  padding: 0.5vw;
}
.form-group > input {
  width: 50vw;
  min-width: 250px;
}
.form-group > textarea {
  width: 55vw;
  resize: none;
  min-width: 284px;
}

.form-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  width: 30vw;
  height: 3vw;
  min-height: 22px;
  font-family: GargleBold;
  color: #dd7360;
  font-size: clamp(14px, 2vw, 53px);
  margin-top: 1vw;
}

@font-face {
  font-family: "GargleBold";
  src: url(/styles/fonts/gargle\ ex\ bd.ttf);
}
@font-face {
  font-family: "Gargle";
  src: url(/styles/fonts/gargle\ rg.ttf);
}
* {
  font-family: Gargle;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seperator_red img {
  background: transparent url(/images/bitmap/seperator__red_bitmap.png) center/cover no-repeat;
  width: 100vw;
  min-width: 850px;
}

.seperator_purple img {
  background: transparent url(/images/bitmap/seperator__purple_bitmap.png) center/cover no-repeat;
  width: 100vw;
  min-width: 850px;
}

.seperator_purple-mod img {
  background: transparent url(/images/bitmap/seperator__purple_bitmap.png) center/cover no-repeat;
  width: 100vw;
  min-width: 850px;
  margin-top: -3.5vw;
}

.nav__banner img {
  width: 100vw;
  min-width: 1000px;
  background: transparent url(/images/bitmap/nav__banner_bitmap.png) center/cover no-repeat;
}

.nav__list {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 1.5vw;
}
.nav__list .nav-item {
  width: 12vw;
  min-width: 90px;
}
.nav__list .nav-item:hover {
  scale: 1.1;
  transition: 0.3s;
}
.nav__list .nav__contact {
  width: 16vw;
  min-width: 120px;
}

.footer__title {
  display: flex;
  justify-content: center;
  font-family: GargleBold;
  color: #dd7360;
  font-size: clamp(14px, 3vw, 53px);
  white-space: nowrap;
  padding-top: 0.5vw;
}

footer ul {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100vw;
  padding: 1vw 0 2vw 0;
}
footer ul li:hover {
  scale: 1.1;
  transition: 0.3s;
}
footer ul li a {
  font-family: Gargle;
  font-size: clamp(10px, 2vw, 40px);
  text-decoration: none;
  color: #dd7360;
}/*# sourceMappingURL=main.css.map */