.about-page {
	display: flex;
	justify-content: center;
	width: 100vw;
}

.about-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f2f2f2;
	width: 90vw;
	border-radius: 2vw;
	padding: 0.5vw 2vw;
	margin: 2vw;

	img {
		width: 60vw;
		height: 30vw;
		min-width: 350px;
		min-height: 200px;
		object-fit: cover;
		padding: 1vw;
		border-radius: 2.5vw;
	}

	iframe {
		width: 60vw;
		height: 41vw;
		min-width: 350px;
		min-height: 200px;
		border: 0px;
	}
}

.about-title {
	display: flex;
	justify-content: center;
	font-family: GargleBold;
	color: #dd7360;
	font-size: clamp(14px, 3vw, 53px);
	white-space: nowrap;
	text-decoration: none;
	padding: 1.5vw;
}

.about-desc {
	font-size: clamp(14px, 1.9vw, 70px);
	padding: 1vw 0 2vw 0;
}
