@font-face {
    font-family: 'Gargle';
    src: url('../fonts/GargleRg-Regular.eot');
    src: url('../fonts/GargleRg-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GargleRg-Regular.woff2') format('woff2'),
        url('../fonts/GargleRg-Regular.woff') format('woff'),
        url('../fonts/GargleRg-Regular.ttf') format('truetype'),
        url('../fonts/GargleExRg-Bold.svg#GargleExRg-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GargleBold';
    src: url('../fonts/GargleExRg-Bold.eot');
    src: url('../fonts/GargleExRg-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GargleExRg-Bold.woff2') format('woff2'),
        url('../fonts/GargleExRg-Bold.woff') format('woff'),
        url('../fonts/GargleExRg-Bold.ttf') format('truetype'),
        url('../fonts/GargleRg-Regular.svg#GargleRg-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.seperator_red img {
	background: transparent url(/images/bitmap/seperator__red_bitmap.png)
		center/cover no-repeat;
	// SVG fallback
	width: 100vw;
	min-width: 850px;
}

.seperator_purple img {
	background: transparent url(/images/bitmap/seperator__purple_bitmap.png)
		center/cover no-repeat;
	// SVG fallback
	width: 100vw;
	min-width: 850px;
}

.seperator_purple-mod img {
	background: transparent url(/images/bitmap/seperator__purple_bitmap.png)
		center/cover no-repeat;
	// SVG fallback
	width: 100vw;
	min-width: 850px;
	margin-top: -3.5vw;
}
