// Slideshow

.main-carousel {
	margin: 3vw 3vw 5vw 4vw;
}

.carousel-cell {
	width: 100%;
	height: 35vw;
	min-height: 250px;
	border-radius: 5px;
	counter-increment: gallery-cell;

	img {
		width: 93vw;
	}
}

// Hero

.hero__container {
	margin: 4vw 0 0 0;
	width: 100vw;
	display: inline-flex;
	justify-content: space-evenly;
}

.hero__heading {
	display: flex;
	justify-content: center;
	font-family: GargleBold;
	color: #dd7360;
	font-size: clamp(14px, 3vw, 53px);
	white-space: nowrap;
}

.hero__subheading {
	display: flex;
	justify-content: center;
	font-family: Gargle;
	color: #dd7360;
	font-size: clamp(10px, 2vw, 40px);
	margin-bottom: 3vw;
}

.hero__nick img {
	width: 25vw;
}

.hero__liam img {
	width: 18vw;
}

.hero__oscar img {
	width: 19.5vw;
}

.hero__tane img {
	width: 26.5vw;
}

// Description

.description__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
}

.desc-left {
	flex-direction: row;
}

.desc-right {
	flex-direction: row-reverse;
}

.description__container {
	margin: 4vw 0 4vw 0;
}

.description {
	width: 95vw;
	height: 23vw;
	margin: 0.75vw 0;
	border-radius: 5vw;
}

.description img {
	height: 23vw;
	width: 23vw;
	border-radius: 5vw;
	object-fit: cover;
}

.desc__text__container {
	display: flex;
	flex-direction: column;
	padding: 2.5vw;
}

.desc__heading {
	font-family: GargleBold;
	color: #dd7360;
	font-size: clamp(14px, 3vw, 53px);
	white-space: nowrap;
	margin-bottom: 1.5vw;
}

.desc__subheading {
	font-family: Gargle;
	color: #dd7360;
	font-size: clamp(10px, 2.15vw, 40px);
}

.gradient-left {
	background: rgb(244, 245, 245);
	background: linear-gradient(
		90deg,
		rgba(244, 245, 245, 1) 0%,
		rgba(244, 245, 245, 0.8540018372616526) 70%,
		rgba(0, 217, 255, 0) 100%
	);
}

.gradient-right {
	background: rgb(244, 245, 245);
	background: linear-gradient(
		270deg,
		rgba(244, 245, 245, 1) 0%,
		rgba(244, 245, 245, 0.8540018372616526) 70%,
		rgba(0, 217, 255, 0) 100%
	);
}
