.music__page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.song__title {
	display: flex;
	font-weight: bold;
	color: #dd7360;
	font-size: clamp(14px, 3vw, 53px);
	white-space: nowrap;
	text-decoration: none;
	width: 100%;
	justify-content: center;
}

.song__title {
	display: flex;
	justify-content: center;
	font-weight: bold;
	color: #dd7360;
	font-size: clamp(20px, 3vw, 53px);
	white-space: nowrap;
	text-decoration: none;
	width: 100%;
	padding-bottom: 2vw;
}
.song-container {
	width: 85vw;
	background-color: #f2f2f2;
	padding: 2vw;
	margin: 2vw;
	border-radius: 2.5vw;
}

.song__content-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	img {
		width: 40vw;
		height: 30vw;
		object-fit: cover;
		border-radius: 2.5vw;
	}
}

.song__lyrics {
	font-size: clamp(14px, 1.45vw, 70px);
}

@media only screen and (max-width: 1000px) {
	.song__content-container img {
		display: none;
	}
}
