.music__page__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.song__container {
	width: 85vw;
	background-color: #f2f2f2;
	padding: 2vw;
	margin: 2vw;
	border-radius: 2.5vw;
}

.song__title a {
	font-family: GargleBold;
	color: #dd7360;
	font-size: clamp(14px, 3vw, 53px);
	white-space: nowrap;
	text-decoration: none;
}

.song__lyrics {
	font-size: clamp(14px, 1.45vw, 70px);
}
